body{
    background-color: aqua;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
  }

  #inpt{
    border: 2px solid yellow;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #btn{
    border: 2px solid purple;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
